<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.stopwatch4">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application

        android:name="com.app.stopwatch4.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/stopwatchimage"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/stopwatchimage"
        android:supportsRtl="false"
        android:layoutDirection="ltr"
        android:theme="@style/AppTheme">
        <activity android:name="com.app.stopwatch4.ZinukNameUpdate"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustNothing"
            android:label="Edit Names">
        </activity>

        <activity android:name="com.app.stopwatch4.SyncTimeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="Edit Time"/>
        <activity android:name="com.app.stopwatch4.ZinukPageActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name="com.app.stopwatch4.ImportActivity"
        android:label="Import Race"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>


        <activity android:name="com.app.stopwatch4.StartRaceActivity"
            android:label="Start Race"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name="com.app.stopwatch4.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>